<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.design.mapper.ReimbursementMapper">

    <resultMap id="BaseMap" type="Reimbursement">
        <id property="id" column="id" />
        <result property="money" column="money" />
        <result property="title" column="title" />
        <result property="reason" column="reason" />
        <result property="createTime" column="create_time" />
        <result property="state" column="state" />
        <result property="userId" column="user_id" />
    </resultMap>

    <insert id="save" parameterType="Reimbursement">
        insert into reimbursement values (null, #{money}, #{title}, #{reason},
        #{createTime}, #{state}, #{userId});
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>

    <delete id="delete" parameterType="Integer">
        delete from reimbursement where id = #{id};
    </delete>

    <select id="findAll" resultMap="BaseMap">
        select * from reimbursement
    </select>

    <select id="get" parameterType="Integer" resultType="Reimbursement">
        select * from reimbursement where id = #{id}
    </select>

    <update id="updateState" parameterType="String">
        update reimbursement set state = #{state} where id = #{id};
    </update>

    <select id="findByState" parameterType="Integer" resultMap="BaseMap">
        select * from reimbursement where state = #{state}
    </select>
</mapper>