<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{'/static/css/layui.css'}" media="all">
</head>

<body style="background-color: #fcfcfc">
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>编辑用户信息</legend>
</fieldset>
<div style="height: 350px; margin-left: 20px; margin-top: 20px; padding-left: 10px; padding-top: 20px;">

    <form class="layui-form layui-form-pane" action="/employee/update" method="post">
        <input type="hidden" name="id" th:value="${employee.id}">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
                <input type="text" name="username" th:value="${employee.username}" lay-verify="username" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">地址</label>
            <div class="layui-input-inline">
                <input type="text" name="address" th:value="${employee.address}" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联系电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" th:value="${employee.phone}" lay-verify="required" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">性别</label>
            <div class="layui-input-inline" th:if="${employee.gender} == '男'">
                <input type="radio" name="gender" value="男" title="男" checked="">
                <input type="radio" name="gender" value="女" title="女">
            </div>
            <div class="layui-input-inline" th:if="${employee.gender} == '女'">
                <input type="radio" name="gender" value="男" title="男">
                <input type="radio" name="gender" value="女" title="女" checked="">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">生日</label>
                <div class="layui-input-inline">
                    <input type="text" name="birthday" th:value="${#dates.format(timestamp, 'yyyy-MM-dd HH:mm:ss')}" id="date" lay-verify="required" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">部门</label>
                <div class="layui-input-inline">
                    <select name="department" lay-filter="department" lay-verify="required">
                        <option th:each="department : ${departmentList}" th:selected="${employee.department.id == department.id}"
                                th:value="${department.id}" th:text="${department.name}" ></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">职位</label>
                <div class="layui-input-inline">
                    <select name="job" lay-filter="job" lay-verify="required">
                        <option th:each="job : ${jobList}" th:selected="${employee.job.id == job.id}"
                                th:value="${job.id}" th:text="${job.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">角色</label>
                <div class="layui-input-inline">
                    <select name="role" lay-filter="role" lay-verify="required">
                        <option th:each="role : ${roleList}" th:selected="${employee.role.id == role.id}"
                                th:value="${role.id}" th:text="${role.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">上级主管</label>
                <div class="layui-input-inline">
                    <select id="managerId" name="managerId" lay-filter="managerId">
                        <option th:if="${manager} != null" th:value="${manager.id}" th:text="${manager.username}"></option>
                        <option th:if="${manager} == null" value="0">默认</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item" style="margin-left: 155px;">
            <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="save">确认</button>
            <button class="layui-btn layui-btn-primary" type="reset">重置</button>
        </div>
    </form>
</div>

<script th:src="@{'/static/layui.js'}" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate;
        var $ = layui.jquery;
        var pass;

        //日期
        laydate.render({
            elem: '#date',
            format: 'yyyy-MM-dd HH:mm:ss',
        });

        //自定义验证规则
        form.verify({
            username: function (value) {
                if (value.length < 3) {
                    return '用户名至少得3个字符';
                }
            }
        });

        //监听提交
        form.on('submit(save)', function (data) {
            var param = data.field;
            var json = {
                'id': param.id,
                'username': param.username,
                'address': param.address,
                'phone': param.phone,
                'gender': param.gender,
                'birthday': param.birthday,
                'department': {
                    'id': param.department
                },
                'job': {
                    'id': param.job
                },
                'role': {
                    'id': param.role
                },
                'managerId': param.managerId
            };
            console.log(JSON.stringify(json));

            $.ajax({
                type: "POST",
                url: "/employee/update",//url
                contentType: "application/json",
                data: JSON.stringify(json),  //表单数据
                success: function (result) {
                    if (result === "success") {
                        layer.msg('修改用户成功');
                        //延迟1秒执行，目的是让用户看到提示
                        setTimeout(function () {
                            //1、先得到当前iframe层（弹出层）的索引  ///2、提交成功关闭弹出层窗口
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        }, 1000);
                    }
                },
                error: function () {
                    layer.msg('操作失败');
                }
            });
            return false;
        });
    });
</script>
<script>
    // 选择角色后 上级主管数据回调
    layui.use(['form', 'layedit', 'laydate'], function () {

        var form = layui.form;
        var $ = layui.jquery;

        form.on('select(role)', function (data) {
            //选择的select对象值；
            var selectValue = data.value;

            if (selectValue === "1" || selectValue === "6") {
                $('#managerId').empty();
                $('#managerId').append("<option value='0'>" + "默认" + "</option>");
                form.render("select");
                return false;
            }
            console.log(selectValue);
            // json数据
            var map = {
                "roleId": selectValue
            };
            // 发送post请求
            $.ajax({
                type: 'post',
                url: '/employee/findManager',
                contentType: 'application/json',
                data: JSON.stringify(map),
                success: function (result) {
                    $('#managerId').empty();
                    console.log(result.data);
                    $.each(result.data, function (index, item) {
                        $('#managerId').append("<option value=" + item.id + ">" + item.username + "</option>");
                    });
                    form.render("select");
                },
                error: function () {
                    layer.msg('获取上级主管失败');
                    setTimeout(function () {
                        location.reload();
                    }, 1000);
                }
            });
        });
    });
</script>
</body>

</html>
