<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>HRMS</title>
		<link rel="stylesheet" href="../static/css/layui.css">
	</head>
	<body class="layui-layout-body">
		<div class="layui-layout layui-layout-admin">
			<div class="layui-header">
				<div class="layui-logo">校园超市员工管理系统</div>
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item"><a href=""><i class="layui-icon">&#xe68e;</i> 主页</a></li>
					<li class="layui-nav-item">
						<a th:href="@{'/employee/updatePage/' + ${employee.id}}" target="appiframe">
							<i class="layui-icon">&#xe857;</i> 基本资料
						</a>
					</li>
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item">
						<a href="javascript:;">
							<img src="http://t.cn/RCzsdCq" class="layui-nav-img">
							<i class="layui-icon">&#xe770;</i>&nbsp;
							<span th:text="${employee.username}"></span>
						</a>
						<dl class="layui-nav-child">
							<dd><a th:href="@{'/employee/passwordPage/' + ${employee.id}}" target="appiframe">
								<i class="layui-icon">&#xe60b;</i> 安全设置
							</a></dd>
						</dl>
					</li>
					<li class="layui-nav-item"><a href="logout"><i class="layui-icon">&#xe682</i> 退出登录</a></li>
				</ul>
			</div>

			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
					<ul class="layui-nav layui-nav-tree" lay-filter="test">
						<li th:if="${state.index} == 0" class="layui-nav-item layui-nav-itemed" th:each="menuTree, state : ${menuTreeList}">
							<a class="" href="javascript:;" th:text="${menuTree.name}" ></a>
							<dl class="layui-nav-child" th:each="children : ${menuTree.getChildren()}">
								<dd th:if="${state.current}"><a th:href="${children.url}" target="appiframe" th:text="${children.name}"></a></dd>
							</dl>
						</li>
						<li th:if="${state.index} > 0" class="layui-nav-item" th:each="menuTree, state : ${menuTreeList}">
							<a class="" href="javascript:;" th:text="${menuTree.name}" ></a>
							<dl class="layui-nav-child" th:each="children : ${menuTree.getChildren()}">
								<dd><a th:href="${children.url}" target="appiframe" th:text="${children.name}"></a></dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>

			<div class="layui-body">
				<!-- 内容主体区域 -->
                <iframe src="/system/welcome" style="width:100%; height: 100%;" id="appiframe" name="appiframe" frameborder="0"></iframe>
			</div>

			<div class="layui-footer">
				<!-- 底部固定区域 -->
				© org.Leon
			</div>
		</div>
		<script src="../static/layui.js"></script>
		<script>
			//JavaScript代码区域
			layui.use('element', function() {
			});
		</script>
	</body>
</html>
